@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #243f56;
    --secondary-color: #4fb291;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/69f692fba32652d283a62eee/vccvv-min.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title h1 {
    font-weight: 400;
    font-size: 2.625rem;
    color: var(--main-color);
}

.title h2 {
    font-weight: 700;
    font-size: 2.625rem;
    color: var(--main-color);
}

.exercise01, .exercise02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    padding-bottom: 10%;
}

.exercise01 {
    background: var(--main-color);
    color: #ffffff;
}

.titleExercise {
    font-size: 3rem !important;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-self: center;
}

.exercise02 {
    color: var(--main-color);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
  }
  
  .form:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }

  .estado-civil {
    width: 42px;
    height: 42px;
  }

  .sexo {
    font-size: 14px;
  }

  .radio {
    width: 100%;
    height: 10px;
    margin-right: -5%;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }

  .form {
    margin-top: 2.5rem;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .btn {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }